services:
  db:
    image: postgres:16
    restart: always
    environment:
      TZ: Asia/Tokyo
      POSTGRES_PASSWORD: password
    volumes:
      - postgresql_data:/var/lib/postgresql
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d cooklog_development -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    restart: always
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && bundle exec rails db:prepare && rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0 -p 3000"
    tty: true
    stdin_open: true
    volumes:
      - .:/cooklog
      - bundle_data:/usr/local/bundle:cached
      - node_modules:/cooklog/node_modules
    environment:
      TZ: Asia/Tokyo
      REDIS_URL: redis://redis:6379/0
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - .env

  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && bundle exec sidekiq"
    tty: true
    stdin_open: true
    volumes:
      - .:/cooklog
      - bundle_data:/usr/local/bundle:cached
      - node_modules:/cooklog/node_modules
    environment:
      TZ: Asia/Tokyo
      REDIS_URL: redis://redis:6379/0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

volumes:
  bundle_data:
  postgresql_data:
  node_modules:
