<header class="bg-gray-200">
  <div class="max-w-5xl mx-auto flex items-center py-4 px-6">
    <% if user_signed_in? %>
      <!-- ログイン中 -->
      <%= render 'shared/header/signed_in' %>
    <% else %>
      <!-- ログアウト中 -->
      <%= render 'shared/header/signed_out' %>
    <% end %>
  </div>
</header>